/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env
/node_modules
.shadow-cljs
.clj-kondo/.cache
.clj-kondo/metosin/malli
.lsp
package-lock.json
.idea
.DS_Store
.calva
public/.DS_Store
/projectFilesBackup
