@font-face {
  font-family: Riesling;
  src: url("/static/fonts/riesling.ttf") format('truetype');
}

@font-face {
  font-family: Raleway;
  src: url("/static/fonts/raleway.ttf") format('truetype');
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Raleway;
}

